/* Type and text */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: inherit;
    font: 1.2em / 1.5 system-ui;
    margin: 0 auto;
}

h1 {
    /* font-size: 2em; */
    font-size: calc(1vw + 1em);
}

/* Adding 📖 icon before heading with 20px padding */
h1::before {
    content: "📖";
    padding-right: 20px;
}

h2 {
    font-size: 1.5em;
}

a {
    color: red;
}

a:hover,
a:focus {
    text-decoration: none;
}

/* Styling the pane */

.pane {
    height: 100%;
    width: clamp(480px 60% 1000px);
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #9fb4c7, #7f7caf);
}

h1,
.controls {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.content {
    height: calc(100% - 200px);
    border: 2px solid #28587b;
    background-color: #eeeeff;
    background: url("https://mdn.github.io/shared-assets/images/examples/big-star.png")
        no-repeat top 5px right 15px / 40px #eeeeff;
    overflow: auto;
}

.controls {
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

button {
    flex: 1;
    height: 100%;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(40 88 123 / 0.8);
}

button:hover,
button:focus {
    background-color: rgb(40 88 123)
}

.pane,
.content {
    padding: 0 20px;
}

img {
    max-width: 90%;
    display: block;
    border: 1px solid #28587b;
    margin: 0 auto;
}

.content, button {
    border-radius: 10px;
}