body {
	font-family: monospace;
	line-height: 1.4;
	font-size: 22px;
	background: papayawhip;
	color: rgb(20, 190, 40);
}

/* p {
	color: rgb(20,190,40,0.65);
}

#mainText {
	color: #556B2F;
}

.hslColoring {
	color: hsl(130, 80%, 30%);
} */


* {
	color: #fa8072;
}