
body {background-color: black; color: white;}

* {
    margin: 0;
    padding: 0;
}

.box {
    height: 200px;
    width: 400px;
    padding: 3px;
    margin: 3px;
    border-radius: 0.5em;
    border: 5px outset white;
    font-size: 2rem;
    text-align: center;
}

.container {
    height: 550px;
    width: 750px;
    background-color: yellowgreen;
    position: relative;
}

.box1 {
    height: 50px;
    background-color: aqua;
    position: fixed;
    z-index: 1; /* It makes the box to be on top of the other boxes */
    top: 20px;
    right: 20px;
}
.box2 {
    background-color: pink;
    position: relative;
    top: 20px;
    left: 90px;
    box-shadow: 0px 5px 15px white;
}
.box3 {
    background-color: brown;
    position: absolute;
    top: 10px;
    right: 20px;
}
.box4 {
    background-color: burlywood;
}

.sticky {
    background-color: violet;
    height: 50px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

h2, p {
    font-size: 1.5rem;
    text-align: center;
}

.caption {
    all: unset;
}