
body {
    font: 1.2rem/1.1 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.container + p {
    color: brown;
}

.check {
    display: inline;
    padding: 100px;
}

.container2 {
    display: flex;
}

.box,
.box2 {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: antiquewhite;
    margin: 1em;
}