

.container,
.container2 {
    display: flow-root;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(233, 230, 230);
    font:
        0.9em/1.2 "Helvetica",
        "Arial",
        sans-serif;
    
}



.box {
    width: 50px;
    height: auto;
    border-radius: 5px;
    background-color: rgb(207 232 220);
    padding: 1em;
    float: left;
    margin-right: 10px;
}

.container2 {
    margin-top: 20px;
}

.float-left {
    float: left;
    shape-outside: circle(50%)
}

.float-right {
    float: right;
    shape-outside: circle(50%);
}

/* Visualizing Float */

/* div + p {
    background-color: purple;
    color: white;
} */


/* Clearing Float */

/* div + p {
    clear: left;
} */